
#####################################################################
#   heater_bed.cfg
#####################################################################


[heater_bed]
heater_pin:   PA3
sensor_type:  Generic 3950
sensor_pin:   PF3
max_power:    0.8
min_temp:     0
max_temp:     120
control:      pid
pid_kp:       54.870
pid_ki:       2.301
pid_kd:       327.162

