
#####################################################################
#   PRINT_START Routine
#####################################################################


[gcode_macro PRINT_START]
variable_skip_heatsoak: False
gcode:
    {% set EXTRUDER_PREHEAT_TEMP_DELTA = 70 %}                                                                   #set temp-delta for extruder preheating

    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}                                                        #first layer bed temp
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}                                              #first layer extruder temp
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|float %}                                                #starting chamber temp
    {% set HEAT_SOAK = params.HEAT_SOAK|default(0)|int %}                                                        #heatsoak in minutes
    {% set FILAMENT_TYPE = params.FILAMENT_TYPE|default('DEFAULT')|string %}                                     #filament type
    {% set BEDMESH = params.BEDMESH|default(True) %}                                                             #do bedmesh?

    {% set SKIP_HEAT_SOAK = printer["gcode_macro PRINT_START"].skip_heatsoak %}                                  #skip heatsoak variable
    {% set BEDTEMP_DIFF = BED_TEMP - printer['heater_bed'].temperature|float %}                                  #bed temp difference
    {% set CHAMBER_DIFF = CHAMBER_TEMP - printer['temperature_sensor Chamber'].temperature|float %}              #chamber temp difference
    {% set MOVE_TO_CENTER = False %}                                                                             #move to center for preheat

    {% if (BEDTEMP_DIFF >= 10.0) or (CHAMBER_DIFF >= 1.0) %}                                                     #move to center if temp difference is to big
        {% if (FILAMENT_TYPE != 'PLA') %}                                                                        #dont move to center for pla
            {% set MOVE_TO_CENTER = True %}                                                                      #set move to center for preheat
        {% endif %}
    {% endif %}

    {% if (EXTRUDER_TEMP == 0) %}                                                                                #if no EXTRUDER_TEMP is passed, cancel print
        M117 -> ERROR!
        STATUS_BUSY                                                                                              #set led status
        TURN_OFF_HEATERS                                                                                         #turn off all heaters
        M107                                                                                                     #turn off part fan
        {action_raise_error("Parameter EXTRUDER_TEMP missing from slicer PRINT_START command - cancel print")}   #raise error
        _BEEPER_SOUND_FAIL                                                                                       #beeper sound
        CANCEL_PRINT                                                                                             #cancel print

    {% elif  ((CHAMBER_TEMP > 0) and (BED_TEMP == 0)) %}                                                         #if CHAMBER_TEMP is not zero but BED_TEMP is zero, cancel print
        M117 -> ERROR!
        STATUS_BUSY                                                                                              #set led status
        TURN_OFF_HEATERS                                                                                         #turn off all heaters
        M107                                                                                                     #turn off part fan
        {action_raise_error("Parameter CHAMBER_TEMP is not zero but no BED_TEMP is passed - cancel print")}      #raise error
        _BEEPER_SOUND_FAIL                                                                                       #beeper sound
        CANCEL_PRINT                                                                                             #cancel print

    {% else %}                                                                                                   #sanity checks passed, start routine
        M300                                                                                                     #beeper sound
        M300                                                                                                     #beeper sound
        SET_PIN PIN=Chamber_Light VALUE=0.50                                                                     #turn chamber lights on

        M220 S100                                                                                                #reset printspeed to 100%
        M221 S100                                                                                                #reset flowrate to 100%
        G92 E0                                                                                                   #reset extruder
        G90                                                                                                      #set to absolute coordinates

        SET_FILAMENT_SENSOR SENSOR=filament_runout ENABLE=1                                                      #enable filament sensor

        {% set EXTRUDER_PREHEAT = EXTRUDER_TEMP - EXTRUDER_PREHEAT_TEMP_DELTA %}                                 #set preheat variable
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_PREHEAT}                                         #set extruder preheat  temperature

        {% if (BED_TEMP > 0) %}                                                                                  #preheat bed
            SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}                                           #set bed temperature
        {% endif %}

        BED_MESH_CLEAR                                                                                           #clear stored bed mesh

        CG28                                                                                                     #conditional homing

        {% if ((MOVE_TO_CENTER == True) or (HEAT_SOAK > 0)) %}                                                   #check for preheat position
            M117 -> Move to bed center
            G0 X175 Y175 Z50 F3600                                                                               #move to bed center for heatup
            M117
        {% endif %}

        M117 -> Heatup extruder
        STATUS_HEATING                                                                                           #set led status
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_PREHEAT} MAXIMUM={EXTRUDER_PREHEAT + 5}               #wait for preheat extruder temp
        M117 -> Heatup bed
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP} MAXIMUM={BED_TEMP + 2}                             #wait for bed temp
        M117

        {% if (HEAT_SOAK > 0) and (SKIP_HEAT_SOAK == False) %}                                                   #wait for heatsoak
            M117 -> Heatsoak for { HEAT_SOAK } min
            _BedFansFast                                                                                         #enable fast bedfanscontrol
            G4 P{ HEAT_SOAK * 1000 * 60 }                                                                        #dwell for heatsoak in seconds
            M300                                                                                                 #beeper sound
            M117
        {% endif %}

        {% if (CHAMBER_TEMP > 0) %}                                                                              #wait for heated chamber
            M117 -> Wait for minimum chamber temp
            _BedFansFast                                                                                         #enable fast bedfanscontrol
            TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={CHAMBER_TEMP}                          #wait for heated chamber temp
            M300                                                                                                 #beeper sound
            M117
        {% endif %}

        M117 -> Quad Gantry Leveling
        ATTACH_PROBE_LOCK                                                                                        #lock klicky probe
        QUAD_GANTRY_LEVEL                                                                                        #Quad Gantry Leveling
        M117

        M117 -> Clean Nozzle
        STATUS_CLEANING                                                                                          #set led status
        NOZZLE_BRUSH                                                                                             #clean nozzle routine
        M117

        M117 -> Homing Z
        STATUS_HOMING                                                                                            #set led status
        G28 Z                                                                                                    #homing z after QGL
        M117

        {% if (BEDMESH|lower) == 'true' %}                                                                       #check for adaptive bedmesh
            M117 -> Bed Mesh Calibrate
            BED_MESH_CALIBRATE                                                                                   #adaptive bed mesh
            M117
        {% endif %}

        _Probe_Unlock                                                                                            #unlock klicky state
        CALIBRATE_Z                                                                                              #calibrating Z

        M117 -> Final extruder heating
        STATUS_HEATING                                                                                           #set led status
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}                                            #set final extruder temp
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}                                                 #wait for final extruder temp
        M117

        _BEEPER_SOUND_START                                                                                      #beeper sound

        M117 -> Purge Line
        STATUS_PRINTING                                                                                          #set led status
        G90                                                                                                      #set to absolute coordinates
        G0 X2 Y340 Z0.35 F6000                                                                                   #move to start point
        G92 E0                                                                                                   #reset extruder to 0
        G1 X2 Y140 Z0.20 E30 F1000                                                                               #purge line movement
        G0 X2 Y40 Z0.20 F20000                                                                                   #move away fast
        G0 X2 Y35 Z0.10 F20000                                                                                   #move away fast
        G92 E0                                                                                                   #reset extruder to 0
        M117

        M400                                                                                                     #clear movement buffer

    {% endif %}

	


#####################################################################
#   PRINT_END Routine
#####################################################################


[gcode_macro PRINT_END]
gcode:
    {% set th = printer.toolhead %}                                                                              #store toolhead variables
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}                #safe movement x coordinates
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}                #safe movement y coordinates
    {% set z_safe = [th.position.z + 50, th.axis_maximum.z]|min %}                                               #safe movement z coordinates

    SAVE_GCODE_STATE NAME=STATE_PRINT_END                                                                        #save gcode state

    G91                                                                                                          #set to relative coordinates
    G92 E0                                                                                                       #zero the extruder
    G1 E-5.0 F1800                                                                                               #retract filament
    G92 E0                                                                                                       #zero the extruder
    G90                                                                                                          #set to absolute coordinates

    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000                                                                      #move nozzle away
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F12000                                                   #park nozzle at rear

    M400                                                                                                         #clear movement buffer

    TURN_OFF_HEATERS                                                                                             #turn off heaters
    M107                                                                                                         #turn off fans
    M84                                                                                                          #turn off motors
    ALL_LIGHTS_OFF                                                                                               #turn off all lights

    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=skip_heatsoak VALUE={ False }                                  #reset heatsoak skip variable

    SET_FILAMENT_SENSOR SENSOR=filament_runout ENABLE=0                                                          #disable filament sensor

    BED_MESH_CLEAR                                                                                               #clear bed mesh

    _BEEPER_SOUND_END                                                                                            #beeper sound

    M117

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END                                                                     #restore gcode state

