
#####################################################################
#   quad_gantry_level.cfg
#####################################################################


[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01
max_adjust: 5


##-------------------------------------------------------------------


[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
description: Conform a moving, twistable gantry to the shape of a stationary bed.
gcode:

    M117 -> Quad Gantry Leveling
    _KLICKY_STATUS_LEVELING                                                                                  #set led status

    _CheckProbe action=query                                                                                 #query klicky probe
	G90                                                                                                      #set absolute movement
    Attach_Probe                                                                                             #attach klicky probe

    _QUAD_GANTRY_LEVEL {% for p in params %}{'%s=%s ' % (p, params[p])}{% endfor %}                          #perform QGL

    Dock_Probe                                                                                               #dock klicky probe

    M117


##-------------------------------------------------------------------


[gcode_macro _QUAD_GANTRY_LEVEL_G28Z]
description: Homing Z after QGL.
gcode:
    M117 -> Homing Z
    STATUS_HOMING                                                                                            #set led status
    G28 Z                                                                                                    #homing z after QGL
    M117


##-------------------------------------------------------------------


[gcode_macro CQGL]
description: Conform a moving, twistable gantry to the shape of a stationary bed if QGL is not applied.
gcode:
    {% if printer.quad_gantry_level.applied == False %}                                                      #check for applied QGL
        QUAD_GANTRY_LEVEL                                                                                    #perform QGL
    {% endif %}

