
#####################################################################
#   stepper_xy.cfg
#####################################################################


[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: PG6
position_min: 0
position_max: 350.0
position_endstop: 350.0
homing_speed: 50.0
homing_retract_dist: 4.0
homing_retract_speed: 20.0
second_homing_speed:  3.0
homing_positive_dir: true


[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0


##-------------------------------------------------------------------


[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: PG9
position_min: 0.0
position_max: 356.0
position_endstop: 356.0
homing_speed: 50.0
homing_retract_dist: 4.0
homing_retract_speed: 20.0
second_homing_speed:  3.0
homing_positive_dir: true


[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

